In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

2023-06-05 16:03:06.171633: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [30]:
#2023 reg season
jokic23_path = Path("Resources/jokic_2023.csv")
jokic23_df = pd.read_csv(jokic23_path)
jokic23_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1.0,2022-10-19,27-242,DEN,@,UTA,L (-21),1,33:25,12.0,17.0,0.706,1.0,3.0,0.333,2.0,2.0,1.000,2.0,2.0,4.0,6.0,3.0,0.0,3.0,4.0,27.0,24.5,-5.0
1,2,2.0,2022-10-21,27-244,DEN,@,GSW,W (+5),1,34:24,7.0,13.0,0.538,1.0,2.0,0.500,11.0,11.0,1.000,3.0,9.0,12.0,10.0,0.0,0.0,5.0,4.0,26.0,24.9,-3.0
2,3,3.0,2022-10-22,27-245,DEN,NaN,OKC,W (+5),1,38:41,6.0,10.0,0.600,1.0,1.0,1.000,6.0,9.0,0.667,1.0,15.0,16.0,13.0,1.0,1.0,3.0,2.0,19.0,25.4,18.0
3,4,4.0,2022-10-24,27-247,DEN,@,POR,L (-25),1,26:58,3.0,4.0,0.750,0.0,0.0,NaN,3.0,3.0,1.000,1.0,8.0,9.0,9.0,0.0,0.0,1.0,5.0,9.0,13.8,-10.0
4,5,5.0,2022-10-26,27-249,DEN,NaN,LAL,W (+11),1,34:48,12.0,17.0,0.706,0.0,4.0,0.000,7.0,7.0,1.000,1.0,12.0,13.0,9.0,4.0,0.0,3.0,3.0,31.0,34.3,28.0

In [2]:
#2022 reg season
jokic22_path = Path("Resources/jokic22.csv")
jokic22_df = pd.read_csv(jokic22_path)
jokic22_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1.0,2021-10-20,26-243,DEN,@,PHO,W (+12),1,34:43,...,11.0,13.0,2.0,2.0,0.0,3.0,3.0,27.0,20.7,28.0
1,2,2.0,2021-10-22,26-245,DEN,NaN,SAS,W (+6),1,33:37,...,11.0,16.0,7.0,3.0,1.0,6.0,4.0,32.0,31.7,14.0
2,3,3.0,2021-10-25,26-248,DEN,NaN,CLE,L (-12),1,34:57,...,16.0,19.0,3.0,3.0,0.0,6.0,3.0,24.0,21.5,-12.0
3,4,4.0,2021-10-26,26-249,DEN,@,UTA,L (-12),1,15:00,...,5.0,6.0,6.0,0.0,0.0,1.0,1.0,24.0,25.1,7.0
4,5,5.0,2021-10-29,26-252,DEN,NaN,DAL,W (+31),1,25:15,...,14.0,16.0,8.0,1.0,0.0,1.0,4.0,11.0,16.3,26.0

In [3]:
#2021 reg season
jokic21_path = Path("Resources/jokic21.csv")
jokic21_df = pd.read_csv(jokic21_path)
jokic21_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2020-12-23,25-308,DEN,NaN,SAC,L (-2),1,41:50,...,12,15,14,0,2,6,3,29,29.3,5
1,2,2,2020-12-25,25-310,DEN,NaN,LAC,L (-13),1,38:29,...,6,9,10,1,0,5,2,24,23.0,-20
2,3,3,2020-12-28,25-313,DEN,NaN,HOU,W (+13),1,34:07,...,8,12,18,3,1,3,2,19,31.8,20
3,4,4,2020-12-29,25-314,DEN,@,SAC,L (-10),1,38:33,...,9,10,12,2,0,10,4,26,22.0,1
4,5,5,2021-01-01,25-317,DEN,NaN,PHO,L (-3),1,29:31,...,6,9,11,1,0,1,5,17,20.3,1

In [4]:
#2020 reg season
jokic20_path = Path("Resources/jokic20.csv")
jokic20_df = pd.read_csv(jokic20_path)
jokic20_df.tail()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
68,69,69,2020-08-06,25-169,DEN,NaN,POR,L (-10),1,23:42,...,2,5,13,0,0,5,2,8,9.6,-1
69,70,70,2020-08-08,25-171,DEN,NaN,UTA,W (+2),1,41:40,...,9,11,7,3,0,4,5,30,25.7,9
70,71,71,2020-08-10,25-173,DEN,@,LAL,L (-3),1,25:31,...,1,1,4,1,0,1,3,12,10.6,-5
71,72,72,2020-08-12,25-175,DEN,NaN,LAC,L (-13),1,28:28,...,6,7,13,0,0,1,1,17,21.5,5
72,73,73,2020-08-14,25-177,DEN,@,TOR,L (-8),1,10:12,...,1,1,2,0,0,1,0,2,2.4,-6

In [5]:
#2019 reg season
jokic19_path = Path("Resources/jokic19.csv")
jokic19_df = pd.read_csv(jokic19_path)
jokic19_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1.0,2018-10-17,23-240,DEN,@,LAC,W (+9),1,33:32,...,6.0,8.0,5.0,1.0,2.0,2.0,4.0,21.0,19.0,8.0
1,2,2.0,2018-10-20,23-243,DEN,NaN,PHO,W (+28),1,30:43,...,11.0,11.0,11.0,4.0,1.0,0.0,3.0,35.0,45.8,29.0
2,3,3.0,2018-10-21,23-244,DEN,NaN,GSW,W (+2),1,32:23,...,8.0,11.0,6.0,0.0,0.0,2.0,2.0,23.0,20.7,-4.0
3,4,4.0,2018-10-23,23-246,DEN,NaN,SAC,W (+14),1,23:17,...,10.0,12.0,6.0,1.0,0.0,3.0,4.0,14.0,13.7,18.0
4,5,5.0,2018-10-25,23-248,DEN,@,LAL,L (-7),1,32:50,...,8.0,11.0,3.0,1.0,1.0,6.0,5.0,24.0,16.0,-5.0

In [6]:
#2023 reg seasons advanced
jokic23_advanced_path = Path("Resources/jokic23advanced.csv")
jokic23_advanced_df = pd.read_csv(jokic23_advanced_path)
jokic23_advanced_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,BPM
0,1,1.0,2022-10-19,27-242,DEN,@,UTA,L (-21),1,33:25,...,7.4,37.9,4.3,0.0,14.4,26.8,136.0,119.0,24.5,13.7
1,2,2.0,2022-10-21,27-244,DEN,@,GSW,W (+5),1,34:24,...,22.0,38.5,0.0,0.0,21.9,27.2,138.0,119.0,24.9,7.2
2,3,3.0,2022-10-22,27-245,DEN,NaN,OKC,W (+5),1,38:41,...,21.3,46.7,1.2,2.2,17.7,18.0,142.0,105.0,25.4,11.7
3,4,4.0,2022-10-24,27-247,DEN,@,POR,L (-25),1,26:58,...,19.3,40.4,0.0,0.0,15.8,10.7,172.0,141.0,13.8,6.3
4,5,5.0,2022-10-26,27-249,DEN,NaN,LAL,W (+11),1,34:48,...,17.8,48.8,5.4,0.0,13.0,28.4,141.0,89.0,34.3,20.2

In [7]:
#2022 reg seasons advanced
jokic22_advanced_path = Path("Resources/jokic22advanced.csv")
jokic22_advanced_df = pd.read_csv(jokic22_advanced_path)
jokic22_advanced_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,BPM
0,1,1.0,2021-10-20,26-243,DEN,@,PHO,W (+12),1,34:43,...,19.8,10.6,2.8,0.0,12.0,33.2,109.0,92.0,20.7,3.9
1,2,2.0,2021-10-22,26-245,DEN,NaN,SAS,W (+6),1,33:37,...,28.6,41.6,4.2,2.4,22.8,34.0,127.0,85.0,31.7,21.0
2,3,3.0,2021-10-25,26-248,DEN,NaN,CLE,L (-12),1,34:57,...,27.2,18.2,4.3,0.0,25.4,28.9,105.0,90.0,21.5,10.2
3,4,4.0,2021-10-26,26-249,DEN,@,UTA,L (-12),1,15:00,...,25.3,100.0,0.0,0.0,7.6,39.3,191.0,122.0,25.1,48.9
4,5,5.0,2021-10-29,26-252,DEN,NaN,DAL,W (+31),1,25:15,...,35.0,45.4,1.9,0.0,10.0,17.6,137.0,67.0,16.3,17.1

In [8]:
#2021 reg seasons advanced
jokic21_advanced_path = Path("Resources/jokic21advanced.csv")
jokic21_advanced_df = pd.read_csv(jokic21_advanced_path)
jokic21_advanced_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,BPM
0,1,1,2020-12-23,25-308,DEN,NaN,SAC,L (-2),1,41:50,...,19.0,53.6,0.0,3.6,21.5,28.7,121,110,29.3,12.3
1,2,2,2020-12-25,25-310,DEN,NaN,LAC,L (-13),1,38:29,...,16.0,44.1,1.3,0.0,21.9,26.5,126,130,23.0,9.2
2,3,3,2020-12-28,25-313,DEN,NaN,HOU,W (+13),1,34:07,...,18.8,72.9,4.1,3.0,19.6,18.7,159,100,31.8,23.4
3,4,4,2020-12-29,25-314,DEN,@,SAC,L (-10),1,38:33,...,16.4,45.6,2.5,0.0,36.9,31.0,112,122,22.0,4.1
4,5,5,2021-01-01,25-317,DEN,NaN,PHO,L (-3),1,29:31,...,19.5,64.8,1.8,0.0,7.1,21.9,147,112,20.3,19.0

In [9]:
#2020 reg seasons advanced
jokic20_advanced_path = Path("Resources/jokic20advanced.csv")
jokic20_advanced_df = pd.read_csv(jokic20_advanced_path)
jokic20_advanced_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,BPM
0,1,1,2019-10-23,24-246,DEN,@,POR,W (+8),1,23:54,...,28.1,22.4,0.0,0.0,21.2,33.9,108,97,14.3,4.1
1,2,2,2019-10-25,24-248,DEN,NaN,PHO,W (+1),1,40:32,...,18.5,61.4,1.2,4.5,18.5,28.9,104,96,22.4,9.9
2,3,3,2019-10-28,24-251,DEN,@,SAC,W (+7),1,28:27,...,21.5,11.5,3.7,3.1,11.5,25.1,74,88,5.7,-4.9
3,4,4,2019-10-29,24-252,DEN,NaN,DAL,L (-3),1,32:56,...,15.8,39.2,4.8,0.0,31.1,17.6,112,109,14.6,8.0
4,5,5,2019-10-31,24-254,DEN,@,NOP,L (-15),1,27:08,...,14.7,31.1,1.7,0.0,21.5,15.0,148,118,14.6,7.5

In [10]:
#2019 reg seasons advanced
jokic19_advanced_path = Path("Resources/jokic19advanced.csv")
jokic19_advanced_df = pd.read_csv(jokic19_advanced_path)
jokic19_advanced_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,BPM
0,1,1.0,2018-10-17,23-240,DEN,@,LAC,W (+9),1,33:32,...,11.1,29.3,1.4,4.8,10.3,24.0,124.0,97.0,19.0,9.7
1,2,2.0,2018-10-20,23-243,DEN,NaN,PHO,W (+28),1,30:43,...,18.3,66.6,6.1,4.1,0.0,21.4,226.0,75.0,45.8,44.4
2,3,3.0,2018-10-21,23-244,DEN,NaN,GSW,W (+2),1,32:23,...,18.7,36.1,0.0,0.0,9.4,28.0,126.0,104.0,20.7,10.8
3,4,4.0,2018-10-23,23-246,DEN,NaN,SAC,W (+14),1,23:17,...,28.1,32.0,2.1,0.0,20.8,25.3,118.0,106.0,13.7,5.1
4,5,5.0,2018-10-25,23-248,DEN,@,LAL,L (-7),1,32:50,...,18.7,13.4,1.4,2.3,23.8,30.8,104.0,112.0,16.0,0.8

In [11]:
#2023 playoffs
jokic23_playoffs_path = Path("Resources/jokic23playoffs.csv")
jokic23_playoffs_df = pd.read_csv(jokic23_playoffs_path)
jokic23_playoffs_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2023-04-16,28-056,DEN,NaN,MIN,W (+29),1,28:29,...,9,14,6,1,0,1,6,13,14.2,15
1,2,2,2023-04-19,28-059,DEN,NaN,MIN,W (+9),1,37:14,...,6,9,9,0,0,3,4,27,22.1,6
2,3,3,2023-04-21,28-061,DEN,@,MIN,W (+9),1,38:03,...,9,11,12,1,0,4,4,20,22.4,7
3,4,4,2023-04-23,28-063,DEN,@,MIN,L (-6),1,39:08,...,9,11,6,2,0,4,3,43,34.3,-14
4,5,5,2023-04-25,28-065,DEN,NaN,MIN,W (+3),1,41:55,...,8,17,12,2,2,2,4,28,27.4,3

In [12]:
#2022 playoffs
jokic22_playoffs_path = Path("Resources/jokic22playoffs.csv")
jokic22_playoffs_df = pd.read_csv(jokic22_playoffs_path)
jokic22_playoffs_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-04-16,27-056,DEN,@,GSW,L (-16),1,34:34,...,6,10,6,3,1,3,4,25,19.8,-19
1,2,2,2022-04-18,27-058,DEN,@,GSW,L (-20),1,28:17,...,6,11,4,1,2,3,5,26,21.1,-26
2,3,3,2022-04-21,27-061,DEN,NaN,GSW,L (-5),1,38:22,...,14,18,5,3,0,5,3,37,33.7,3
3,4,4,2022-04-24,27-064,DEN,NaN,GSW,W (+5),1,37:42,...,7,8,6,0,0,7,3,37,26.7,-2
4,5,5,2022-04-27,27-067,DEN,@,GSW,L (-4),1,32:12,...,16,19,8,1,2,6,5,30,28.3,0

In [13]:
#2021 playoffs
jokic21_playoffs_path = Path("Resources/jokic21playoffs.csv")
jokic21_playoffs_df = pd.read_csv(jokic21_playoffs_path)
jokic21_playoffs_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2021-05-22,26-092,DEN,NaN,POR,L (-14),1,35:22,...,13,16,1,0,0,1,1,34,25.6,-13
1,2,2,2021-05-24,26-094,DEN,NaN,POR,W (+19),1,31:18,...,5,8,5,1,0,4,5,38,32.1,12
2,3,3,2021-05-27,26-097,DEN,@,POR,W (+5),1,35:29,...,5,11,5,0,0,2,3,36,30.0,10
3,4,4,2021-05-29,26-099,DEN,@,POR,L (-20),1,26:41,...,6,9,1,0,0,2,3,16,7.2,-32
4,5,5,2021-06-01,26-102,DEN,NaN,POR,W (+7),1,46:19,...,8,11,9,1,4,2,1,38,33.7,-2

In [14]:
#2020 playoffs
jokic20_playoffs_path = Path("Resources/jokic20playoffs.csv")
jokic20_playoffs_df = pd.read_csv(jokic20_playoffs_path)
jokic20_playoffs_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2020-08-17,25-180,DEN,NaN,UTA,W (+10),1,42:10,...,9,10,3,2,1,4,2,29,22.1,7
1,2,2,2020-08-19,25-182,DEN,NaN,UTA,L (-19),1,31:40,...,6,11,6,0,0,2,3,28,22.4,-23
2,3,3,2020-08-21,25-184,DEN,@,UTA,L (-37),1,31:42,...,5,5,6,0,1,2,1,15,11.9,-21
3,4,4,2020-08-23,25-186,DEN,@,UTA,L (-2),1,39:20,...,4,7,6,0,0,2,3,29,21.3,-1
4,5,5,2020-08-25,25-188,DEN,NaN,UTA,W (+10),1,42:51,...,6,6,4,0,1,2,4,31,24.2,15

In [15]:
#2019 playoffs
jokic19_playoffs_path = Path("Resources/jokic19playoffs.csv")
jokic19_playoffs_df = pd.read_csv(jokic19_playoffs_path)
jokic19_playoffs_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2019-04-13,24-053,DEN,NaN,SAS,L (-5),1,36:21,...,11,14,14,2,0,3,3,10,18.3,0
1,2,2,2019-04-16,24-056,DEN,NaN,SAS,W (+9),1,39:26,...,10,13,8,2,0,3,4,21,21.0,17
2,3,3,2019-04-18,24-058,DEN,@,SAS,L (-10),1,32:09,...,6,8,7,0,0,1,3,22,20.9,-25
3,4,4,2019-04-20,24-060,DEN,@,SAS,W (+14),1,38:59,...,7,12,8,0,0,0,3,29,27.6,17
4,5,5,2019-04-23,24-063,DEN,NaN,SAS,W (+18),1,32:55,...,9,11,8,2,1,3,3,16,18.5,27

In [16]:
#2023 playoffs advanced
jokic23_playoffs_advanced_path = Path("Resources/jokic23playoffsadvanced.csv")
jokic23_playoffs_advanced_df = pd.read_csv(jokic23_playoffs_advanced_path)
jokic23_playoffs_advanced_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,BPM
0,1,1,2023-04-16,28-056,DEN,NaN,MIN,W (+29),1,28:29,...,25.6,32.7,1.8,0.0,7.0,22.5,124,83,14.2,6.4
1,2,2,2023-04-19,28-059,DEN,NaN,MIN,W (+9),1,37:14,...,16.3,35.0,0.0,0.0,11.6,31.6,126,125,22.1,6.0
2,3,3,2023-04-21,28-061,DEN,@,MIN,W (+9),1,38:03,...,19.3,41.3,1.3,0.0,23.5,20.7,137,113,22.4,10.2
3,4,4,2023-04-23,28-063,DEN,@,MIN,L (-6),1,39:08,...,15.2,37.5,2.7,0.0,11.3,41.9,128,109,34.3,22.2
4,5,5,2023-04-25,28-065,DEN,NaN,MIN,W (+3),1,41:55,...,22.4,55.3,2.4,4.8,5.6,35.9,118,110,27.4,11.1

In [17]:
#2022 playoffs advanced
jokic22_playoffs_advanced_path = Path("Resources/jokic22playoffsadvanced.csv")
jokic22_playoffs_advanced_df = pd.read_csv(jokic22_playoffs_advanced_path)
jokic22_playoffs_advanced_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,BPM
0,1,1,2022-04-16,27-056,DEN,@,GSW,L (-16),1,34:34,...,18.3,31.6,4.4,3.0,10.4,36.9,103,120,19.8,5.1
1,2,2,2022-04-18,27-058,DEN,@,GSW,L (-20),1,28:17,...,22.8,31.2,1.8,7.7,11.3,40.1,122,126,21.1,8.7
2,3,3,2022-04-21,27-061,DEN,NaN,GSW,L (-5),1,38:22,...,30.4,27.8,3.9,0.0,16.1,35.6,129,117,33.7,14.0
3,4,4,2022-04-24,27-064,DEN,NaN,GSW,W (+5),1,37:42,...,14.8,33.0,0.0,0.0,22.8,35.8,122,121,26.7,5.6
4,5,5,2022-04-27,27-067,DEN,@,GSW,L (-4),1,32:12,...,32.6,65.8,1.6,5.8,21.8,38.1,117,99,28.3,20.5

In [18]:
#2021 playoffs advanced
jokic21_playoffs_advanced_path = Path("Resources/jokic21playoffsadvanced.csv")
jokic21_playoffs_advanced_df = pd.read_csv(jokic21_playoffs_advanced_path)
jokic21_playoffs_advanced_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,BPM
0,1,1,2021-05-22,26-092,DEN,NaN,POR,L (-14),1,35:22,...,25.0,4.8,0.0,0.0,3.4,38.6,124,131,25.6,6.8
1,2,2,2021-05-24,26-094,DEN,NaN,POR,W (+19),1,31:18,...,16.4,33.3,1.6,0.0,15.0,36.7,145,115,32.1,16.6
2,3,3,2021-05-27,26-097,DEN,@,POR,W (+5),1,35:29,...,16.5,29.7,0.0,0.0,6.8,36.7,143,125,30.0,11.8
3,4,4,2021-05-29,26-099,DEN,@,POR,L (-20),1,26:41,...,17.8,9.3,0.0,0.0,9.6,33.9,86,125,7.2,-5.8
4,5,5,2021-06-01,26-102,DEN,NaN,POR,W (+7),1,46:19,...,14.2,34.7,1.1,9.1,5.5,35.4,126,116,33.7,11.0

In [19]:
#2020 playoffs advanced
jokic20_playoffs_advanced_path = Path("Resources/jokic20playoffsadvanced.csv")
jokic20_playoffs_advanced_df = pd.read_csv(jokic20_playoffs_advanced_path)
jokic20_playoffs_advanced_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,BPM
0,1,1,2020-08-17,25-180,DEN,NaN,UTA,W (+10),1,42:10,...,13.5,10.7,2.4,2.5,15.2,29.0,115,116,22.1,2.7
1,2,2,2020-08-19,25-182,DEN,NaN,UTA,L (-19),1,31:40,...,21.7,41.6,0.0,0.0,7.3,41.1,128,144,22.4,7.2
2,3,3,2020-08-21,25-184,DEN,@,UTA,L (-37),1,31:42,...,8.0,38.0,0.0,3.2,12.6,21.9,111,135,11.9,5.1
3,4,4,2020-08-23,25-186,DEN,@,UTA,L (-2),1,39:20,...,11.1,21.3,0.0,0.0,7.4,29.4,131,144,21.3,3.0
4,5,5,2020-08-25,25-188,DEN,NaN,UTA,W (+10),1,42:51,...,9.2,15.2,0.0,2.5,9.5,23.3,144,115,24.2,10.1

In [20]:
#2019 playoffs advanced
jokic19_playoffs_advanced_path = Path("Resources/jokic19playoffsadvanced.csv")
jokic19_playoffs_advanced_df = pd.read_csv(jokic19_playoffs_advanced_path)
jokic19_playoffs_advanced_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,BPM
0,1,1,2019-04-13,24-053,DEN,NaN,SAS,L (-5),1,36:21,...,19.9,58.3,2.9,0.0,23.3,15.7,116,103,18.3,11.0
1,2,2,2019-04-16,24-056,DEN,NaN,SAS,W (+9),1,39:26,...,17.4,28.2,2.6,0.0,14.5,23.8,119,104,21.0,7.8
2,3,3,2019-04-18,24-058,DEN,@,SAS,L (-10),1,32:09,...,14.6,34.8,0.0,0.0,6.0,24.7,148,129,20.9,11.4
3,4,4,2019-04-20,24-060,DEN,@,SAS,W (+14),1,38:59,...,16.2,35.6,0.0,0.0,0.0,29.5,141,114,27.6,11.0
4,5,5,2019-04-23,24-063,DEN,NaN,SAS,W (+18),1,32:55,...,17.6,36.8,3.2,2.2,19.0,23.0,126,90,18.5,11.8

In [21]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [31]:
#concat 2023
jokic2023_combined = pd.concat([jokic23_df, jokic23_playoffs_df], axis=0)
jokic2023_advanced_combined = pd.concat([jokic23_advanced_df, jokic23_playoffs_advanced_df], axis=0)
jokic2023_complete = jokic2023_combined.join(jokic2023_advanced_combined[['TS%', 'eFG%', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'ORtg', 'DRtg', 'BPM']])

In [28]:
#concat 2022
jokic2022_combined = pd.concat([jokic22_df, jokic22_playoffs_df], axis=0)
jokic2022_advanced_combined = pd.concat([jokic22_advanced_df, jokic22_playoffs_advanced_df], axis=0)
jokic2022_complete = jokic2022_combined.join(jokic2022_advanced_combined[['TS%', 'eFG%', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'ORtg', 'DRtg', 'BPM']])

In [27]:
#concat 2021
jokic2021_combined = pd.concat([jokic21_df, jokic21_playoffs_df], axis=0)
jokic2021_advanced_combined = pd.concat([jokic21_advanced_df, jokic21_playoffs_advanced_df], axis=0)
jokic2021_complete = jokic2021_combined.join(jokic2021_advanced_combined[['TS%', 'eFG%', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'ORtg', 'DRtg', 'BPM']])

In [26]:
#concat 2020
jokic2020_combined = pd.concat([jokic20_df, jokic20_playoffs_df], axis=0)
jokic2020_advanced_combined = pd.concat([jokic20_advanced_df, jokic20_playoffs_advanced_df], axis=0)
jokic2020_complete = jokic2020_combined.join(jokic2020_advanced_combined[['TS%', 'eFG%', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'ORtg', 'DRtg', 'BPM']])

In [25]:
#concat 2019
jokic2019_combined = pd.concat([jokic19_df, jokic19_playoffs_df], axis=0)
jokic2019_advanced_combined = pd.concat([jokic19_advanced_df, jokic19_playoffs_advanced_df], axis=0)
jokic2019_complete = jokic2019_combined.join(jokic2019_advanced_combined[['TS%', 'eFG%', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'ORtg', 'DRtg', 'BPM']])

In [35]:
#concat all seasons
jokic_ultimate = pd.concat([jokic2023_complete,jokic2022_complete,jokic2021_complete,jokic2020_complete,jokic2019_complete], axis=0)
jokic_ultimate.columns

Index(['Rk', 'G', 'Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-',
       'TS%', 'eFG%', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'ORtg', 'DRtg', 'BPM'],
      dtype='object')

In [37]:
#save this dataframe as csv
jokic_ultimate.to_csv('jokic_ultimate.csv', index=False)